#background {
    background-color: #1e1408;
    width: 100vw;
    height: 100vh;
}

#welcome {
    background-color: #5c3b1e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vw;
    border-radius: 1vw;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0.3vw solid #c2924c;
    color: #ffddb1;
}

#wt {
    font-size: 4vw;
    color: #f4e1c1;
}

#wte {
    font-size: 2vw;
    margin-left: 2vw;
    color: #e6b880;
}

#next {
    font-family: "Ubuntu", serif;
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
    width: 10vw;
    margin-left: auto;
    background-color: #d4a047;
    color: #1e1408;
    border: 0.2vw solid #8b5e34;
    border-radius: 0.5vw;
    transition: 0.3s;
}

#next:hover {
    background-color: #b97b2d;
    border-color: #6a4221;
}

#links {
    background-color: #5c3b1e;
    margin: 3vw;
    padding: 2vw 3vw;
    border-radius: 1vw;
    overflow: scroll;
    border: 0.3vw solid #c2924c;
    color: #ffddb1;
}

.lesson {
    margin-left: 3vw;
    color: #f4e1c1;
}

.objective {
    margin-top: -0.5vw;
    color: #e6b880;
}

ul {
    padding: 0.5vw 2vw;
    list-style-type: none;
    color: #ffddb1;
}

li {
    margin-top: 0.5vw;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #d4a047;
}
