#sidebar {
    width: 12vw;
    height: 100vh;
    background-color: #363636;
    position: absolute;
    left: -12vw;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
}

#sidebar.active {
    left: 0;
}