body {
    background-color: black;
    color: white;
    font-family: "Ubuntu", serif;
}

.header {
    font-size: 4vw;
    font-family: "Pirata One", serif;
    letter-spacing: 0.1vw;
    margin-bottom: 3vw;
    border-bottom: 0.3vw solid white;
    letter-spacing: 0.5vw;
    display: flex;
}

.headerButton {
    font-family: "Ubuntu", serif;
    font-size: 1.5vw;
    cursor: pointer;
    width: 15vw;
    margin-left: auto;
    margin-bottom: 1vw;
}

/* #challenge {
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

#sidebar.active ~ #challenge {
    margin-left: 7vw;
}

#content2 {
    margin: 1.5vw 0 -3vw 7vw;
}

#title2 {
    font-size: 2.5vw;
    font-family: "Pirata One", serif;
    letter-spacing: 0.1vw;
}

#text2 {
    font-size: 1.5vw;
    margin: 1vw 0;
    text-indent: 3vw;
    margin-left: 1vw;
}

#codespace {
    display: flex;
    gap: 1vw;
    margin: 5vw auto;
    width: 75%;
    height: calc(100vh - 15vw);
}

#editor, #output {
    font-family: "Ubuntu", serif;
    background-color: #363636;
    padding: 2vw;
    width: 50%;
    border: 0.3vw solid white;
    border-radius: 1vw;
    font-size: 1.2vw;
    color: white;
    outline: none;
} */