body {
    background-color: #1e1408;
    color: #ffddb1;
    font-family: "Ubuntu", serif;
}

.header {
    font-size: 4vw;
    font-family: "Pirata One", serif;
    letter-spacing: 0.1vw;
    margin-bottom: 3vw;
    border-bottom: 0.3vw solid #c2924c;
    letter-spacing: 0.5vw;
    display: flex;
}

.hb {
    font-family: "Ubuntu", serif;
    font-size: 1.5vw;
    cursor: pointer;
    width: 15vw;
    margin-left: auto;
    margin-bottom: 1vw;
    color: #1e1408;
    background-color: #d4a047;
    border: 0.2vw solid #8b5e34;
    padding: 0.5vw 1vw;
    text-align: center;
    border-radius: 0.5vw;
    transition: 0.3s;
}

.hb:hover {
    background-color: #b97b2d;
    border-color: #6a4221;
}

.title {
    font-size: 2vw;
    font-family: "Pirata One", serif;
    letter-spacing: 0.2vw;
    border-bottom: 0.1vw solid #c2924c;
}

.text {
    font-size: 1.3vw;
    margin: 1vw 0;
    text-indent: 3vw;
    margin-left: -2vw;
    color: #ffe4c4;
}

ul {
    padding: 0 2vw;
    margin: 0;
    color: #e6b880;
}

a {
    text-decoration: none;
    color: #f4e1c1;
}